.home-pg {
  overflow-x: hidden;
  & h2 {
    color: var(--lightblue);
  }
}

.hero-intro {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--blue);
  height: calc(100vh - 122px);
  min-height: 500px;
  position: relative;
  text-align: center;

  & h1 {
    font-size: 25px;
    font-weight: 300;
    max-width: 575px;
    padding: 1.5em 0.5em;

    & span {
      color: var(--orange);
      font-weight: 800;
      text-transform: uppercase;
    }
  }
}

.play-video {
  cursor: pointer;

   & svg {
     max-width: 52px;
   }

   & p {
     margin: 1em 0 0;
   }
}

.hero-illustration {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;

  & .clouds {
    left: 0;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: 0 20px;
    position: absolute;
    right: 0;
    top: 0;
  }

  & .city-scape {
    border-bottom: 3px solid var(--paleblue);
    display: flex;
    justify-content: space-between;
    bottom: -6px;
    left: 0;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: 0 1em;
    position: absolute;
    right: 0;

    & svg {
      display: block;
      height: 8vw;

    }
  }

  & .city-scape:before,
  & .city-scape:after {
    bottom: -3px;
    content: '';
    background-color: var(--paleblue);
    height: 3px;
    position: absolute;
    width: 100%;
  }

  & .city-scape:before {
    left: -100%;
  }

  & .city-scape:after {
    right: -100%;
  }

}

.about {
  padding: 3em 4em;

  @media (width > 840px) {
    display: flex;
    flex-direction: row;
  }

  & article {
    @media (width > 840px) {
      width: 55%;
    }

    & span {
      font-weight: 700;
    }
  }

  & .about-graphic {
    height: auto;
    width: 100%;

    @media (width > 840px) {
      margin-left: 3em;
      width: 45%;
    }
  }
}

.callout-banner {
  background-color: var(--orange);
  color: white;

  & .callout-banner-content {
    margin: 0 auto;
    max-width: var(--max-width);
    padding: 1em 4em;
  }

  & p {
    font-size: 21px;
    line-height: 1.1;
    margin: 0;
    text-transform: uppercase;

    @media (width > 840px) {
      max-width: 50%;
    }

    & span {
      font-weight: 800;
    }
  }
}


.siv-dashboard-wrapper {
  display: flex;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 54px 0;

  & .siv-dashboard-img,
  & .siv-dashboard-content {
    flex: 1;
  }

  & .siv-dashboard-img {
    height: auto;
    width: 100%;

    & svg {
      height: 100%;
      width: 100%;
    }
  }

  & .siv-dashboard-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 3em;

    & p span {
      color: var(--orange);
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  & .horiz-rule {
    background-color: var(--lightblue);
    height: 4px;
    width: 50px;
  }
}


.testimonial {
  background-color: var(--lightblue);
  color: white;
  padding: 2em 0;
}

.testimonial-content {
  align-items: center;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 2em 1em;

  @media (width > 840px) {
    display: flex;
    padding: 3em;
  }
}

.testimonial-quote {
  @media (width > 840px) {
    padding-right: 3em;
    text-align: right;
    width: 70%;
  }
}

.testimonial-author {
  align-items: center;
  display: flex;

  & .profile-img {
    border-radius: 58px;
    height: 106px;
    overflow: hidden;
    width: 106px;
  }

  & .profile-info {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 12px;
    margin-left: -1em;
    padding: 1em;
  }

  & p {
    font-size: 15px;
    margin: 0;
    padding-left: 1em;
  }

  & .name {
    font-weight: bolder;
  }

  & .title {
    font-size: 13px;
  }
}

.features {
  margin: 0 auto;
  max-width: 600px;
  padding: 2em 0;

  & .features-content {
    & p {
      color: var(--lightblue);
      font-size: 24px;
    }

    & p span {
      color: var(--orange);
      font-weight: bolder;
    }
  }

  & .feature-icon {
    display: inline-block;
    height: auto;
    max-width: 250px;
    width: 100%;
  }
}

.features-content {
  text-align: center;
}

.investigator-stats {
  background-color: #f9f9f9;
  padding: 1em 0;

  & h3 {
    margin-bottom: 2em;
    text-align: center;
  }
}

.investigator-stats-info {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: var(--max-width);

  & li {
    list-style-type: none;
    flex: 1;
    max-width: 150px;
    text-align: center;

    & svg {
      height: 100%;
      width: 100%;
    }

    & p {
      color: var(--orange);
      font-size: 12px;
    }
  }

  & .icon {
    padding-left: 14px;
  }
}

.extra-video {
  display: flex;
  justify-content: center;
  padding: 54px 0;

  & .extra-video-placeholder {
    border: 1px solid var(--lightblue);
    border-radius: 8px;
    display: inline-block;
    padding: 6px;
    position: relative;
    text-align: center;
  }

  & #play-btn {
    cursor: pointer;
    fill: white;
    height: auto;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
  }
}





body.js-active-video {
  overflow: hidden;
}

body.js-active-video #video-container {
  display: flex;
  z-index: 10;
}



#video-container {
  background-color: rgba(0,0,0,0.4);
  display: none;
  left: 0;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;

  & .video-wrapper {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-height: 720px;
  	max-width: 100vh;
    width: 100%;
  }

  & .video-content {
    margin: 0;
    position: relative;
  }
  & video {
  	height: auto;
    position: relative;
    width: 100%;
  }

  & #close-video {
    color: white;
    font-size: 28px;
    height: 36px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -36px;
    width: 36px;
  }
}

#close-video {
  cursor: pointer;
  position: absolute;
  right: 0;
  height: 27px;
  width: 27px;
  fill: white;
}