*, *:before,*:after {
  box-sizing: border-box;
	outline: none;
}

body {
  margin: 0;
}

section {
  margin: 0 auto;
  max-width: var(--max-width);
}

h1, h2 {
  color: var(--lightblue);
}

h2 {
  text-transform: uppercase;
}

p, p span {
  line-height: 1.4;
}


img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}


/* components  */

.btn {
  margin: 66px 0;

  & a {
    background-color: var(--orange);
    border-radius: 4px;
    color: white;
    padding: 9px 58px;
    text-decoration: none;
  }
}

