#header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--max-width);
}

#main-logo {
  margin: 1.25em;
  width: 300px;
}

.header-menu ul {
  display: flex;

  & li {
    list-style-type: none;
    margin: 0 1.5em;
  }

  & a {
    color: var(--blue);
    font-weight: lighter;
    text-decoration: none;
  }
}